@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Quicksand:400,500,600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  min-height: 100%;
  position: relative;
}

.App {
  padding-bottom: 80px;
}

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.right-col .btn-add-cart,
.right-col .btn-add-wish {
  /* position: absolute; */
  /* bottom: 0; */
  display: block;
  width: 80%;
  border-radius: 0;
  color: black;
  background-color: white;
  border-color: black;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 14px;
}

.btn-checkout {
  width: 6px;
  padding: 7px;
  font-size: 12px;
  position: relative;
  background: red;
}

.right-col .btn-add-cart {
  position: absolute;
  bottom: 50px !important;
  /* right: 0; */
}

.right-col .btn-add-wish {
  position: absolute;
  bottom: 0px !important;
  /* right: 0; */
}

.right-col .btn-add-cart:hover,
.right-col .btn-add-wish:hover {
  border-color: black;
  background-color: black;
  color: white;
}

.container-product {
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 0 40px !important;
  margin-top: 100px;
}
.container-product h1 {
  text-align: center;
  padding: 60px;
}

.right-col h4 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
}

.btn-add-cart i {
  margin-left: 11px;
}

.right-col p {
  margin-top: 40px;
}

.price-num {
  font-size: 15px;
}

.col-left img {
  width: 480px;
  margin: 0 auto;
  display: block;
}

.col-left {
  padding-right: 0;
}

.product-container .row {
  padding-bottom: 70px;
}

.shipping {
  margin-left: 10px;
  font-size: 12px;
}

.link-custom i {
  margin-left: 5px;
}

.nav-brand-custom {
  font-weight: 700;
  letter-spacing: 4px;
}

.navbar-nav-custom {
  margin-left: 20px;
}

.body {
  padding: 20px;
}

.col-right-cart .btn-delete,
.col-left-cart .btn-delete {
  padding: 0;
  color: black;
  text-decoration: underline;
  font-size: 14px;
}

.btn-delete span i {
  font-size: 11px;
}

.btn-delete span {
  margin-right: 4px;
}

.col-right-cart {
  margin-top: 50px;
}

th,
td {
  font-size: 14px;
}

tbody th {
  font-weight: normal;
}

.product-list img {
  min-width: 300px;
  max-width: 300px;
  margin: 0 auto;
}

.product-list {
  width: 300px;
}

.product-list-component h4 {
  text-align: center;
  padding: 40px 0;
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: 'Quicksand', sans-serif;
}

.col-mb {
  margin-bottom: 40px;
}

.col-mb .card-title {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0.75rem;
  font-size: 15px;
  font-weight: 600;
  margin-top: 0.67227rem;
  color: #424242;
}

.product-list a:hover {
  text-decoration: none;
}

.col-mb .product-list {
  border: none;
}

.extra-info span:nth-child(2) {
  font-size: 13px;
  margin-left: 10px;
}

.st-info {
  margin-top: 36px;
}

.nav-brand-custom span i {
  font-size: 9px;
  margin-left: -4px;
}

.btn-checkout i {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2px;
  font-size: 13px;
}

.qty {
  text-align: center;
}

.btn {
  outline: none;
  box-shadow: none !important;
}
