@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Quicksand:400,500,600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  min-height: 100%;
  position: relative;
}

.App {
  padding-bottom: 80px;
}

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.right-col .btn-add-cart,
.right-col .btn-add-wish {
  display: block;
  width: 50%;
  border-radius: 0;
  color: black;
  background-color: white;
  border-color: black;
  text-transform: uppercase;
  font-size: 14px;
}

.btn-wrapper .btn-add-cart:hover,
.btn-wrapper .btn-add-wish:hover {
  background: black;
  color: white;
}

.right-col .btn-add-cart {
  border-bottom-color: transparent;
}

.btn-checkout {
  width: 6px;
  padding: 7px;
  font-size: 12px;
  position: relative;
  background: red;
}

.right-col .btn-add-wish,
.right-col .btn-add-cart {
  margin: 0 auto;
}

.container-product {
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 0 40px !important;
  margin-top: 100px;
}
.container-product h1 {
  text-align: center;
  padding: 60px;
}

.right-col h4 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
}

.btn-add-cart i {
  margin-left: 11px;
}

.right-col p {
  margin-top: 40px;
}

.price-num {
  font-size: 15px;
}

.col-left img {
  width: 480px;
  margin: 0 auto;
  display: block;
}

.col-left {
  padding-right: 0;
}

.product-container .row {
  padding-bottom: 70px;
}

.shipping {
  margin-left: 10px;
  font-size: 12px;
}

.link-custom i {
  margin-left: 5px;
}

.nav-brand-custom {
  font-weight: 700;
  letter-spacing: 4px;
}

.navbar-nav-custom {
  margin-left: 20px;
}

.body {
  padding: 20px;
}

.col-right-cart .btn-delete,
.col-left-cart .btn-delete {
  padding: 0;
  color: black;
  text-decoration: underline;
  font-size: 14px;
}

.btn-delete span i {
  font-size: 11px;
}

.btn-delete span {
  margin-right: 4px;
}

.col-right-cart {
  margin-top: 50px;
}

th,
td {
  font-size: 14px;
}

tbody th {
  font-weight: normal;
}

.product-list img {
  margin: 0 auto;
}

.product-list-component h4 {
  text-align: center;
  padding: 40px 0;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: 'Quicksand', sans-serif;
}

.col-mb {
  margin-bottom: 40px;
}

.col-mb .card-title {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0.75rem;
  font-size: 15px;
  font-weight: 600;
  margin-top: 0.67227rem;
  color: #424242;
}

.product-list a:hover {
  text-decoration: none;
}

.col-mb .product-list {
  border: none;
}

.extra-info span:nth-child(2) {
  font-size: 13px;
  margin-left: 10px;
}

.st-info {
  margin-top: 36px;
}

.nav-brand-custom span i {
  font-size: 7px;
  margin-left: -4px;
}

.btn-id i {
  font-size: 13px;
}

.qty {
  text-align: center;
}

.btn {
  outline: none;
  box-shadow: none !important;
}

.image-wrapper:hover .card-img-top {
  opacity: 0.3;
}

.image-wrapper:hover .middle {
  opacity: 1;
}

.image-wrapper img {
  border: 1px solid;
  padding: 50px;
  border-radius: 0px;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  padding: 13px 30px;
  color: black;
  border: 1px solid black;
  text-transform: uppercase;
  font-size: 13px;
}

.middle:hover {
  background-color: black;
  color: white;
}

.image-wrapper .card-img-top {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.image-wrapper {
  position: relative;
  width: 100%;
}

.vimeo {
  padding: 56.25% 0 0 0;
  position: relative;
}

.vimeo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-home {
  padding: 0 !important;
}

section {
  max-width: 57%;
  margin: auto;
  text-align: center;
}
.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}
.video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-wrap video {
  min-width: 100%;
  min-height: 100%;
}
.overlay {
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #2d3e50;
  position: absolute;
  opacity: 0.7;
}
.landing-text {
  z-index: 2;
}
.landing-text h1 {
  font-weight: 600;
  font-size: 380%;
}
.landing-text h3 {
  font-size: 230%;
  font-weight: 400;
  margin-top: -4%;
  padding-bottom: 3%;
}
.btn {
  text-decoration: none;
  color: #fff;
  font-size: 140%;
  background: #2a80b9;
  padding: 2% 3%;
  border-radius: 5px;
}

.home-image {
  display: block;
  position: absolute;
  background-image: url('https://d2jv9003bew7ag.cloudfront.net/uploads/Margaret-Bourke-White-WOR-radio-transmitting-tower-1935.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  float: right;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.hero-text .btn-home {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  text-align: center;
  cursor: pointer;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border: 1px solid white;
  border-radius: 0;
  padding: 10px 35px;
  border: 2px solid black;
  background: black;
  border: 2px solid black;
  background: black;
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
  padding: 12px 33px;
}

.hero-text .btn-home:hover {
  color: white;
}

.cart-wrapper p {
  margin-top: 100px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

#btn-checkout-cart {
  float: right;
  background: black;
  color: white;
  border-radius: 0;
  margin-top: 30px;
  font-size: 14px;
}

.searchbar .form-control {
  display: inline;
  width: 50%;
  border-radius: 0;
  padding: 20px;
}

.searchbar .md-form {
  margin: 0 auto;
  display: block;
  text-align: center;
  padding-top: 50px;
}

.searchbar label {
  margin: 0 10px;
}

.btn-wrapper {
  text-align: center;
  margin-top: 30px;
}

.btn-rm-bg {
  background: unset;
}

.btn-id {
  color: black;
}

.wrap-id {
  margin-top: -6px;
}

.nav-c .mr-auto {
  left: auto !important;
  right: 10px;
  position: absolute;
}
/* ------------- Media Queries ----------------- */

@media (max-width: 400px) {
  .wrapper-cart .container-product {
    padding: 0 10px !important;
  }
}

@media (max-width: 500px) {
  .right-col .btn-add-cart,
  .right-col .btn-add-wish {
    font-size: 12px;
    width: 100%;
  }

  .right-col p {
    font-size: 15px;
  }

  .right-col h4 {
    font-size: 18px;
  }
  .react-fancybox .thumbnail img {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .right-col {
    position: relative;
  }
  .btn-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
