@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.right-col .btn-add-cart,
.right-col .btn-add-wish {
  /* position: absolute; */
  /* bottom: 0; */
  display: block;
  width: 80%;
  border-radius: 0;
  color: black;
  background-color: white;
  border-color: black;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 14px;
}

.right-col .btn-add-cart {
  position: absolute;
  bottom: 50px !important;
  /* right: 0; */
}

.right-col .btn-add-wish {
  position: absolute;
  bottom: 0px !important;
  /* right: 0; */
}

.right-col .btn-add-cart:hover,
.right-col .btn-add-wish:hover {
  border-color: black;
  background-color: black;
  color: white;
}

.container-product {
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 0 40px !important;
}
.container-product h1 {
  text-align: center;
  padding: 60px;
}

.right-col h4 {
  text-align: center;
}

.btn-add-cart i {
  margin-left: 11px;
}

.right-col p {
  margin-top: 40px;
}

.price-num {
  font-weight: bold;
}

.col-left img {
  width: 100%;
}

.col-left {
  padding-right: 0;
}

.product-container .row {
  padding-bottom: 70px;
}

.shipping {
  margin-left: 10px;
  font-size: 12px;
}

.link-custom i {
  margin-left: 5px;
}

.nav-brand-custom {
  font-weight: 700;
  letter-spacing: 4px;
}

.navbar-nav-custom {
  margin-left: 20px;
}

.body {
  padding: 20px;
}

.col-right-cart .btn-delete,
.col-left-cart .btn-delete {
  padding: 0;
  color: black;
  text-decoration: underline;
  font-size: 14px;
}

.btn-delete span i {
  font-size: 11px;
}

.btn-delete span {
  margin-right: 4px;
}

.col-right-cart {
  margin-top: 50px;
}

th,
td {
  font-size: 14px;
}

tbody th {
  font-weight: normal;
}
